.user-role-page {
  background-color: #a3d6e0;
  background-image: url('./assets/books.png'); 
  background-size: 400px; /* Taille de l’image */
  background-position: right bottom; /* Position à droite */
  background-repeat: no-repeat; /* Pas de répétition */
  padding: 40px 20px;
  text-align: center;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
}
  
  .title {
    font-family: "Pacifico", cursive;
    font-size: 28px;
    margin-bottom: 40px;
    color: #ffffff;
    margin-top: 80px;
  }
  
  .role-cards-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
    margin-top: 70px;
  }
  
  .role-card {
    background: #f0f4f3;
    border-radius: 20px;
    padding: 30px;
    width: 280px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  
  .role-card:hover {
    transform: translateY(-10px);
  }
  
  .role-image {
    max-width: 180px;
    margin-bottom: 20px;
  }
  
  .role-button {
    font-family: "Pacifico", cursive;
    background-color: #3d4a99;
    color: white;
    font-weight: bold;
    padding: 12px 24px;
    border: none;
    border-radius: 30px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .role-button:hover {
    background-color: #2b3878;
  }
  
  .logo {
    position: absolute;
    top: 5px; /* Distance du haut */
    left: 40px; /* Distance de la gauche */
    width: 150px; /* Taille du logo (modifiable) */
    height: auto; /* Garde les proportions */
}